.contact-button {
  margin-bottom: 16px;
  .buttonicon {
    width: 20px;
    height: 20px;
    font-size: 16px;
    padding-right: 4px;
  }
}

.section {
  max-width: 600px;

  .section-header {
    margin-top: 24px;
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
  }

  .section-entry {
    padding-top: 8px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    .key {
    }

    .value {
      font-weight: 300;
    }

    .error {
      color: red;
    }
  }

  .action-buttons {
    display: flex;
    justify-content: flex-end;
  }

}



.action-buttons {
  display: flex;
  justify-content: flex-start;
  a {
    margin-right: 16px;
  }

  @media screen and (max-width: 898px) {
    a {
      margin-right: 0;
      width: 100%;
    }
    flex-wrap: wrap;
  }
}
